table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #6494AA;
}

tr:hover {
  background-color: #6494AA;
}

td button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  color: white;
  cursor: pointer;
}

td:nth-child(2) {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:nth-child(2):hover {
  white-space: normal;
  overflow: visible;
  z-index: 1;
}

#editBtn {
  background-color:aqua
}

#doneBtn {
  background-color:rgb(0, 255, 140);
}

#trashBtn {
  background-color: #e86057;
}

#editBtn:hover {
  background-color:rgb(46, 198, 198)
}

#doneBtn:hover {
  background-color:rgb(87, 209, 154);
}

#trashBtn:hover {
  background-color: #c35149;
}