.bgColor {
  background: #3A445D;
  padding: 5px;
  padding-bottom: 40px;
  height: 100vw; 
  color: #E9B872;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.titleFont {
  font-size: 58px;
  font-weight: 100;
}


/* 
  color palette from: https://coolors.co/3a445d-a63d40-e9b872-90a959-6494aa
  Independence: #3A445D
  Sweet Brown: #A63D40
  Earth Yellow: #E9B872
  Asparagus: #90A959
  Air Superiority Blue: 6494AA
*/